@charset "utf-8";
/* CSS Document */
.calendar_choose{
	width:100%;
	background-color:#fff;}
.calendar_choose .head{
	font-size:.6rem;
	text-align:center;
	color:#535353;
	height:2rem;
	line-height:2rem;}
.calendar_choose th{
	font-size:.5rem;
	color:#535353;
	border-bottom:1px solid #dcdcdc;
	padding-bottom:.3rem;
	}
.calendar_choose td{
	height:1.5rem;
	padding-top:.5rem;
	padding-bottom:.5rem;}
.calendar_choose td .dayNum{
	font-size:.5rem;
	}
.calendar_choose td .price,.calendar_choose td .rest{
	font-size:.35rem;
	color:#009fff;
	margin-top:.08rem;
	position:relative;
	left:-.05rem;}
.calendar_choose td .price .numCLASS{
	position:relative;
	left:-.05rem;}
.calendar_choose td.disable{
	color:#aaaaaa;}
.calendar_choose td.enable{
	color:#535353;}
.calendar_choose td.enable.weekend{
	color:#ff6d00;}
.calendar_choose td.hl{
	background-color:#ff840c;
	color:#fff;
	}
.calendar_choose td.hl .price,.calendar_choose td.hl .rest{
	color:#fff;
	}