@charset "utf-8";
/* CSS Document */
.calendar_choose{
	width:100%;
	background-color:#fff;}
.calendar_choose .head{
	font-size:.5rem;
	text-align:center;
	color:#535353;
	height:1.5rem;
	line-height:1.5rem;}
.calendar_choose th{
	font-size:.4rem;
	color:#535353;
	border-bottom:1px solid #dcdcdc;
	padding-bottom:.3rem;
	}
.calendar_choose td{
	height:1.5rem;
	padding-top:.5rem;}
.calendar_choose td .dayNum{
	font-size:.4rem;
	}
.calendar_choose td .price{
	font-size:.3rem;
	color:#009fff;
	margin-top:.2rem;}
.calendar_choose td.disable{
	color:#aaaaaa;}
.calendar_choose td.enable{
	color:#535353;}
.calendar_choose td.enable.weekend{
	color:#ff6d00;}