@charset "utf-8";
/* CSS Document */
.card_list{width:100%;}
.card_list .top{
	width:95%;
	border-bottom:1px solid #dcdcdc;
	margin:auto;
	padding-top:.2rem;
	padding-bottom:.2rem;}
.card_list .left{
	width:2.5rem;
	height:1rem;
	display:block;
	float:left;}
.card_list .right{
	font-size:.5rem;
	float:left;
	width:6rem;
	color:#7c7c7c;
	margin-left:.5rem;
	position:relative;
	top:.4rem;}
.card_list .point{
	width:40%;
	float:left;
	margin-top:.3rem;
	margin-left:.7rem;}
.card_list .point .fa{
	font-size:.4rem;
	position:relative;
	top:-.3rem;}
.card_list .point .fa.hl{
	color:#009eff;}
.card_list .point img{
	width:3rem;
	height:1rem;
	margin-left:.3rem;}