@charset "utf-8";
/* CSS Document */
.deal_list{
	width:96%;
	margin:auto;
	border:1px solid #dcdcdc;
	padding:.2rem;
	margin-top:.2rem;
	background-color:#fff;}
.deal_list .top{
	height:1.5rem;
	line-height:1.5rem;
	border-bottom:1px solid #dcdcdc;}
.deal_list .icon{
	float:left;
	color:#ff740c;
	font-size:.8rem;
	}
.deal_list .type{
	float:left;
	font-size:.4rem;
	margin-left:.2rem;
	}
.deal_list .state{
	float:left;
	font-size:.4rem;
	color:#44b9ff;
	}
.deal_list .center{
	padding-top:.5rem;
	padding-bottom:.5rem;
	border-bottom:1px solid #dcdcdc;}
.deal_list .title{
	font-size:.55rem;
	margin-bottom:.2rem;}
.deal_list .time{
	float:left;
	font-size:.4rem;
	line-height:1rem;
	color:#c5c5c5;}
.deal_list .deg{
	float:right;
	font-size:.8rem;
	line-height:1rem;
	color:#c5c5c5;}
.deal_list .price{
	float:left;
	color:#ff840c;
	font-size:.6rem;
	line-height:1.5rem;}
.deal_list .button{
	float:right;
	color:#fff;
	font-size:.6rem;
	line-height:1rem;
	background-color:#ff840c;
	height:1rem;
	padding-left:.2rem;
	padding-right:.2rem;
	position:relative;
	top:.3rem;
	margin-left:.3rem;}
.deal_list .succeed{
	float:left;}
.deal_list .succeed .price{
	float:none;
	line-height:.8rem;}
.deal_list .succeed .last{
	font-size:.4rem;
	color:#f33d3d;
	}