@charset "utf-8";
/* CSS Document */
.diy_hot{
	width:100%;
	background-color:#fff;}
.diy_hot .frame{
	width:8rem;
	float:right;
	background-color:#e5e5e5;}
.diy_hot .point{
	width:32%;
	height:1.5rem;
	line-height:1.5rem;
	text-align:center;
	font-size:.4rem;
	background-color:#fff;
	float:left;
	margin-left:.9%;
	margin-bottom:.1rem;}
