@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-x0g9b9');
	src:url('../fonts/icomoon.eot?#iefix-x0g9b9') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-x0g9b9') format('truetype'),
		url('../fonts/icomoon.woff?-x0g9b9') format('woff'),
		url('../fonts/icomoon.svg?-x0g9b9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fa {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-shop:before {
	content: "\e648";
}
.fa-close:before {
	content: "\e647";
}
.fa-type:before {
	content: "\e644";
}
.fa-collect:before {
	content: "\e645";
}
.fa-share:before {
	content: "\e646";
}
.fa-car:before {
	content: "\e641";
}
.fa-camera:before {
	content: "\e642";
}
.fa-water:before {
	content: "\e643";
}
.fa-groupB:before {
	content: "\e62f";
}
.fa-comment3:before {
	content: "\e630";
}
.fa-flower:before {
	content: "\e631";
}
.fa-date:before {
	content: "\e632";
}
.fa-sell:before {
	content: "\e633";
}
.fa-build2:before {
	content: "\e634";
}
.fa-list:before {
	content: "\e635";
}
.fa-plane2:before {
	content: "\e636";
}
.fa-bus:before {
	content: "\e637";
}
.fa-train:before {
	content: "\e638";
}
.fa-diner:before {
	content: "\e639";
}
.fa-boat:before {
	content: "\e63a";
}
.fa-comment2:before {
	content: "\e63b";
}
.fa-travel:before {
	content: "\e63c";
}
.fa-note:before {
	content: "\e63d";
}
.fa-nopay:before {
	content: "\e63e";
}
.fa-finish:before {
	content: "\e63f";
}
.fa-phone2:before {
	content: "\e640";
}
.fa-clown:before {
	content: "\e627";
}
.fa-heart:before {
	content: "\e628";
}
.fa-tree:before {
	content: "\e629";
}
.fa-older:before {
	content: "\e62a";
}
.fa-plane:before {
	content: "\e62b";
}
.fa-build:before {
	content: "\e62c";
}
.fa-cake:before {
	content: "\e62d";
}
.fa-diamond:before {
	content: "\e62e";
}
.fa-check:before {
	content: "\e626";
}
.fa-time:before {
	content: "\e625";
}
.fa-member:before {
	content: "\e623";
}
.fa-money2:before {
	content: "\e624";
}
.fa-back:before {
	content: "\e600";
}
.fa-comment:before {
	content: "\e601";
}
.fa-down:before {
	content: "\e602";
}
.fa-edit:before {
	content: "\e603";
}
.fa-found:before {
	content: "\e604";
}
.fa-found.hl:before {
	content: "\e605";
}
.fa-group:before {
	content: "\e606";
}
.fa-group.hl:before {
	content: "\e607";
}
.fa-home:before {
	content: "\e608";
}
.fa-home.hl:before {
	content: "\e609";
}
.fa-left:before {
	content: "\e60a";
}
.fa-lock:before {
	content: "\e60b";
}
.fa-man:before {
	content: "\e60c";
}
.fa-mine:before {
	content: "\e60d";
}
.fa-mine.hl:before {
	content: "\e60e";
}
.fa-money:before {
	content: "\e60f";
}
.fa-node:before {
	content: "\e610";
}
.fa-open:before {
	content: "\e611";
}
.fa-pad:before {
	content: "\e612";
}
.fa-phone:before {
	content: "\e613";
}
.fa-place:before {
	content: "\e614";
}
.fa-place2:before {
	content: "\e615";
}
.fa-place3:before {
	content: "\e616";
}
.fa-prise:before {
	content: "\e617";
}
.fa-radio:before {
	content: "\e618";
}
.fa-radio.hl:before {
	content: "\e619";
}
.fa-right:before {
	content: "\e61a";
}
.fa-search:before {
	content: "\e61b";
}
.fa-star:before {
	content: "\e61c";
}
.fa-spinner:before {
	content: "\e61d";
}
.fa-plus:before {
	content: "\e61e";
}
.fa-minus:before {
	content: "\e61f";
}
.fa-cross:before {
	content: "\e620";
}
.fa-checkbox.hl:before {
	content: "\e621";
}
.fa-checkbox:before {
	content: "\e622";
}
