@charset "utf-8";
/* CSS Document */
.foot_nav{
	width:100%;
	background-color:#fff;
	border-top:1px solid #cccccc;}
.foot_nav .point{
	width:25%;
	float:left;
	color:#7c7c7c;}
.foot_nav .icon{
	font-size:.8rem;
	text-align:center;
	line-height:.9rem;}
.foot_nav .name{
	font-size:.3rem;
	text-align:center;
	line-height:.6rem;}
