@charset "utf-8";
/* CSS Document */
.group_member{
	width:100%;}
.group_member .point{
	width:30%;
	float:left;
	background-color:#fff;
	margin-left:2%;
	position:relative;
	left:1%;
	margin-top:.3rem;
	background-color:#eeeeee;
	padding-top:.3rem;
	padding-bottom:.3rem;}
.group_member img{
	width:2.5rem;
	height:2.5rem;
	display:block;
	margin:auto;}
.group_member .name{
	font-size:.4rem;
	color:#565656;
	text-align:center;
	margin-top:.3rem;
	height:.6rem;}
.group_member .number{
	font-size:.4rem;
	color:#565656;
	text-indent:.2rem;
	margin-top:.2rem;}
.group_member .deg{
	position:absolute;
	top:0px;
	left:0px;
	z-index:2;
	font-size:.4rem;
	color:#fff;
	width:1rem;
	height:1rem;
	overflow:hidden;
	}
.group_member .bg{
	width:2rem;
	height:2rem;
	background-color:#ff840a;
	transform-origin:center;
	transform:rotate(45deg);
	position:absolute;
	top:-1rem;
	left:-1.4rem;}
.group_member .font{
	position:absolute;
	top:.15rem;
	left:.15rem;}