@charset "utf-8";
/* CSS Document */
.index_banner{
	width:100%;
	overflow:hidden;
	position:relative;
	height:3.8rem;}
.index_banner .bgR{
	width:400%;
	height:3.8rem;
	position:absolute;
	top:0px;
	left:0px;}
.index_banner img{
	width:25%;
	height:4rem;
	float:left;
	}
.index_banner .pointFrame{
	position:absolute;
	bottom:.1rem;
	left:4rem;
	}
.index_banner .point{
	width:.3rem;
	height:.3rem;
	border-radius:.5rem;
	background-color:#000;
	opacity:.2;
	float:left;
	margin-right:.2rem;}
.index_banner .point.hl{
	opacity:1;
	background-color:#009fff;}