@charset "utf-8";
/* CSS Document */
.pay_list{
	width:100%;
	background-color:#fff;
	position:relative;
	color:#555;}
.pay_list .hideFrame{
	position:absolute;
	left:0px;
	bottom:100%;
	background-color:#fff;
	width:100%;
	display:none;
	}
.pay_list .point{
	width:100%;
	padding:.2rem;
	padding-left:.4rem;
	padding-right:.2rem;
	border-bottom:1px solid #cccccc;
	line-height:1rem;
	font-size:.45rem;}
.pay_list .point .name{
	float:left;}
.pay_list .point .price{
	float:right;
	color:#ff8e2f;
	
	}
.pay_list .total{
	padding-left:.2rem;
	padding-right:.2rem;}
.pay_list .left{
	float:left;
	height:2rem;
	font-size:.5rem;
	line-height:2rem;}
.pay_list .number{
	color:#ff840c;font-size:.7rem;}
.pay_list u{
	color:#7c7c7c;}
.pay_list .payButton{
	height:1.3rem;
	width:3rem;
	line-height:1.3rem;
	text-align:center;
	color:#fff;
	font-size:.5rem;
	background-color:#ff840c;
	border-radius:.2rem;
	position:absolute;
	right:.2rem;
	bottom:.35rem;
	}