@charset "utf-8";
/* CSS Document */
.pic_table{
	width:100%;
	position:relative;
	height:15.7rem;
	}
.pic_table .frame{
	color:#fff;
	text-align:center;
	}
.pic_table .frame img{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;}
.pic_table .frame .icon{
	font-size:.8rem;
	position:relative;
	z-index:2}
.pic_table .frame .title{
	font-size:.4rem;
	position:relative;
	z-index:2}
.pic_table .frame_0{
	width:4.9rem;
	height:5rem;
	position:absolute;
	top:0rem;
	left:0rem;}
.pic_table .frame_1{
	width:4.9rem;
	height:3.5rem;
	position:absolute;
	top:5.2rem;
	left:0rem;
	}
.pic_table .frame_2{
	width:4.9rem;
	height:2.7rem;
	position:absolute;
	top:0rem;
	left:5.1rem;
	}
.pic_table .frame_3{
	width:4.9rem;
	height:2.7rem;
	position:absolute;
	top:3rem;
	left:5.1rem;
	}
.pic_table .frame_4{
	width:4.9rem;
	height:2.7rem;
	position:absolute;
	top:6rem;
	left:5.1rem;
	}
.pic_table .frame_5{
	width:10rem;
	height:3.5rem;
	position:absolute;
	top:8.9rem;
	left:0rem;
	}
.pic_table .frame_6{
	width:4.9rem;
	height:3rem;
	position:absolute;
	top:12.6rem;
	left:0rem;
	}
.pic_table .frame_7{
	width:4.9rem;
	height:3rem;
	position:absolute;
	top:12.6rem;
	left:5.1rem;
	}
.pic_table .frame_0 .icon{
	margin-top:1.6rem;
	}
.pic_table .frame_1 .icon,.pic_table .frame_5 .icon,.pic_table .frame_6 .icon,.pic_table .frame_7 .icon{
	margin-top:1rem;
	}
.pic_table .frame_2 .icon,.pic_table .frame_3 .icon,.pic_table .frame_4 .icon{
	margin-top:.7rem;
	}