@charset "utf-8";
/* CSS Document */
.product_input{
	width:100%;}
.product_input .list{
	width:100%;
	margin-bottom:.4rem;
	background-color:#fff;
	border-bottom:1px solid #dcdcdc;
	border-top:1px solid #dcdcdc;
	padding:.5rem;
	padding-top:0px;
	padding-bottom:0px;}
.product_input .head{
	width:100%;
	padding-top:.4rem;
	padding-bottom:.4rem;
	position:relative;}
.product_input .bb{
	border-bottom:1px solid #dcdcdc;}
.product_input .head .title{
	height:1rem;
	line-height:1rem;
	font-size:.6rem;
	font-weight:bolder;
	float:left;}
.product_input .head .date{
	height:1rem;
	line-height:1rem;
	font-size:.4rem;
	color:#868686;
	float:right;}
.product_input .numberList{
	width:100%;
	padding-top:.3rem;
	padding-bottom:.3rem;
	border-bottom:1px solid #dcdcdc;
	}
.product_input .numberLeft{
	float:left;}
.product_input .numberName{
	font-size:.5rem;
	font-weight:bold;
	}
.product_input .numberPrice{
	font-size:.4rem;
	margin-top:.2rem;
	color:#7c7c7c;}
.product_input .numberRight{
	float:right;
	width:3rem;
	margin-top:.15rem;}
.product_input .numberSub{
	width:1rem;
	height:1rem;
	float:left;
	border:1px solid #dcdcdc;
	text-align:center;
	line-height:1.1rem;
	font-size:.6rem;
	color:#dcdcdc;
	}
.product_input .numberInput{
	width:1rem;
	height:1rem;
	float:left;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	text-align:center;
	color:#7c7c7c;
	line-height:.95rem;
	font-size:.5rem;
	}
.product_input .numberAdd{
	width:1rem;
	height:1rem;
	float:left;
	border:1px solid #dcdcdc;
	text-align:center;
	color:#ff840c;
	line-height:1.1rem;
	font-size:.6rem;
	}
.product_input .numberCheck{
	font-size:.4rem;
	width:4rem;
	position:relative;
	right:.4rem;
	top:-.1rem;
	}
.product_input .fa-question{
	display:inline-block;
	color:#ff840c;
	position:relative;
	top:.1rem;
	font-size:.6rem;}
.product_input .fa-checkbox{
	color:#43b8ff;
	font-size:.8rem;}
.product_input .numberCheck .fa-checkbox{
	position:relative;
	top:.25rem;}
.product_input .space{
	width:100%;
	height:.4rem;}
.product_input table{
	background-color:#dcdcdc;
	width:100%;
	}
.product_input td{
	background-color:#fff;
	font-size:.5rem;
	padding:.3rem;
	color:#7c7c7c;}
.product_input .link{
	float:right;
	font-size:.4rem;
	color:#56bdff;
	line-height:.8rem;}
.product_input .nb{
	border-bottom:0px !important;}
.product_input .inputList{
	width:95%;
	height:1.5rem;
	line-height:1.5rem;
	border-bottom:1px solid #dcdcdc;
	margin:auto;
	font-size:.45rem;
	position:relative;}
.product_input .inputTitle{
	font-weight:bolder;
	width:2.5rem;
	float:left;}
.product_input .inputList input{
	float:left;
	height:1.5rem;
	width:6rem;
	color:#919191;
	background-color:transparent;
	font-size:.45rem;
	line-height:1.5rem;}
.product_input .inputList .link{
	line-height:1.5rem;
	position:absolute;
	right:0rem;
	top:0rem;}
.product_input .check{
	position:absolute;
	top:.4rem;
	right:0rem;}
.product_input .dsc .main{
	float:left;
	font-size:.3rem;
	line-height:1.1rem;
	color:#9b9b9b;
	width:7.9rem;
	text-indent:.2rem;
	}
.product_input .dsc .fa{
	display:block;
	float:left;}
.product_input .payList .text{
	font-size:.5rem;
	float:left;
	height:2rem;
	line-height:2rem;
	}
.product_input .payList .button{
	float:right;
	font-size:.5rem;
	height:1.4rem;
	line-height:1.4rem;
	background-color:#ff840c;
	color:#fff;
	font-weight:bold;
	width:3rem;
	text-align:center;
	border-radius:.2rem;
	margin-top:.3rem;
	}
.product_input .payList .totalPrice{
	color:#ff8e2f;}
.product_input .payList u{
	color:#7c7c7c;}