@charset "utf-8";
/* CSS Document */
.product_group_list{
	width:100%;}
.product_group_list .group{
	background-color:#fff;
	margin-top:.2rem;}
.product_group_list .title{
	font-size:.4rem;
	float:left;
	line-height:1rem;
	margin-left:.2rem;}
.product_group_list .icon{
	font-size:.6rem;
	float:right;
	line-height:1rem;
	margin-right:.2rem;
	}
.product_group_list .point{
	width:95%;
	margin:auto;
	padding-bottom:.4rem;}
.product_group_list img{
	display:block;
	margin:auto;
	max-width:100%;
	min-height:2rem;}
.product_group_list .name{
	font-size:.5rem;
	text-indent:.3rem;
	margin-top:.2rem;}
.product_group_list .price{
	float:left;
	font-size:.4rem;
	margin-top:.2rem;
	margin-left:.3rem;}
.product_group_list .place{
	float:right;
	font-size:.4rem;
	margin-top:.2rem;
	margin-right:.3rem;
	}