@charset "utf-8";
/* CSS Document */
.single_button{
	width:90%;
	height:1.3rem;
	line-height:1.35rem;
	text-align:center;
	color:#FFFFFF;
	background-color:#ff840b;
	font-size:.6rem;
	margin:auto;
	margin-top:1rem;
	border-radius:.2rem;
	}
