@charset "utf-8";
/* CSS Document */
.third_button{
	width:100%;
	height:1rem;
	background-color:#ff840b;
	color:#fff;
	font-size:.5rem;
	line-height:.5rem;
	margin-top:.5rem;
	}
.third_button .point{
	height:.5rem;
	border-right:1px solid #fff;
	float:left;
	width:33.33%;
	margin-top:.25rem;
	text-align:center;}
.third_button .point#right{
	border:0px;}
.third_button.second_button .point{
	width:50%;
	}