@charset "utf-8";
/* CSS Document */
.title_input_list{
	width:95%;
	margin:auto;
	margin-top:.2rem;
	background-color:#fff;
	border-radius:.2rem;}
.title_input_list .point{
	width:90%;
	margin:auto;
	border-bottom:1px solid #dcdcdc;
	height:1.5rem;
	line-height:1.5rem;
	position:relative;}
.title_input_list .left{
	float:left;
	font-size:.5rem;}
.title_input_list .center{
	float:left;
	margin-left:.5rem;}
.title_input_list .center input{
	height:1.4rem;
	line-height:1.4rem;
	display:block;
	font-size:.5rem;}
.title_input_list .right{
	position:absolute;
	top:0px;
	right:0px;
	font-size:.5rem;
	color:#7c7c7c;}