<style>.collapse_list{
	width:100%;}
.collapse_list .list{
	width:100%;
	}
.collapse_list .head{
	width:100%;
	height:1.5rem;
	background-color:#fff;
	line-height:1.5rem;
	font-size:.6rem;
	border-bottom:1px solid #dcdcdc;
	}
.collapse_list .title{
	float:left;
	margin-left:.5rem;
	}
.collapse_list .icon{
	float:right;
	margin-right:.5rem;
	color:#7c7c7c;
	font-size:.5rem;}
.collapse_list .main{
	width:95%;
	margin:auto;
	margin-top:.3rem;
	margin-bottom:.3rem;
	background-color:#FFFFFF;
	display:none;
	border:1px solid #dcdcdc;
	border-radius:.2rem;
	padding-top:.2rem;
	padding-bottom:.2rem;
	}
.collapse_list .left{
	float:left;
	font-size:.45rem;
	line-height:1rem;
	width:28%;
	text-indent:0rem;
	color:#7c7c7c;
	}
.collapse_list .right{
	float:left;
	font-size:.45rem;
	line-height:1rem;
	width:60%;
	}
.collapse_list .dsc{
	font-size:.4rem;
	padding:.5rem;
	}
.collapse_list .group{
	position:relative;
		  width: 90%;
  margin: auto;
  padding-top:.2rem;
	padding-bottom:.2rem;
	}
.collapse_list .group.link .deg{
	display:block;
	}
.collapse_list .deg{
	position:absolute;
	top:0px;
	right:.5rem;
	height:100%;
	line-height:100%;
	display:none;
	}
.collapse_list .deg .fa-right:before{
	line-height:100%;
	display:block;
	height:100%;
	color:#7c7c7c;
	font-size:.5rem;
	}
.collapse_list .list.hl .head{
	color:#ff840c;}
.collapse_list .list.hl .head .icon{
	color:#ff840c;
	}
.collapse_list .list.hl .main{
	display:block;
	}
.collapse_list .group.bd{
	border-bottom:1px solid #dcdcdc;
}
.collapse_list .point.hl .right{
	color:#ff9e6b;
	}
</style>
<div class="collapse_list">
	<% _.each(list,function(l,num){ %>
    	<div class="list<% if(num == 0){print(" hl")} %>">
        <% if(l.title){ %>
        	<div class="head">
                <div class="title"><%= l.title %></div>
                <div class="icon"><span class="fa <%if(num == 0){print("fa-close")}else{print("fa-open")}%>"></span></div>
                <div class="clear"></div>
            </div>
        <% } %>
            <div class="main">
            	<% _.each(l.group,function(g,i){ %>
                    <div class="group<% if(i!=l.group.length-1){print(" bd")} %><% if(g.hl){print(" link")} %>">
                    	<% _.each(g.point,function(p){ %>
                            <div class="point<% if(p.hl){print(" hl")} %>">
                                <div class="left"><%= p.key %></div>
                                <div class="right"><%= p.value %></div>
                                <div class="clear"></div>
                                <% if(p.dsc){ %>
                                <div class="dsc"><%= p.dsc %></div>
                                <% } %>
                                
                            </div>
                        <% }) %>
                        <div class="deg"><span class="fa fa-right"></span></div>
                    </div>
                <% }) %>
            </div>
        </div>
    <% }) %>
</div>
<script>
;(function(){
	$(".collapse_list .list .head").unbind("tap").bind("tap",function(){
	if($(this).parents(".list").attr("class")=="list hl"){
	$(this).parents(".list").removeClass("hl");
	$(this).parents(".list").find(".fa").removeClass("fa-close");
	$(this).parents(".list").find(".fa").addClass("fa-open");
		}else{
	$(".collapse_list .list").removeClass("hl");
	$(".collapse_list .list .fa").removeClass("fa-close");
	$(".collapse_list .list .fa").addClass("fa-open");
	$(this).parents(".list").addClass("hl");
	$(this).parents(".list").find(".fa").addClass("fa-close");
	$(this).parents(".list").find(".fa").removeClass("fa-open");
	var linkDelay=setTimeout(function(){
		$(this).parents(".list").find(".group.link").each(function(){
		$(this).parents(".list").find(".deg").css("top",(($(this).height()/($(window).width()/10))-.1)/2+"rem");
		});
	myScroll.refresh();
		},200);		
			}	
	
	});
var linkDelay=setTimeout(function(){
		$(".collapse_list .list").find(".group.link").each(function(){
		$(".collapse_list .list").find(".deg").css("top",(($(this).height()/($(window).width()/10))-.1)/2+"rem");
		});
	myScroll.refresh();
		},200);
	})();

</script>