<link href="css/comment_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="comment_list">
<div class="head">
	<div class="left">
    	<div class="percent">80%</div>
        <div class="text">满意度</div>
    </div>
    <div class="right">
    	<div class="button hl">所有点评(12536)</div>
        <div class="button">满意(636)</div>
        <div class="button">一般(652)</div>
        <div class="button">不满意(12)</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="list">
	<div class="point">
    	<div class="top">
        	<img src="http://" class="icon"/>
            <div class="name">Alex 执念</div>
            <div class="tag tag1"></div>
            <div class="time">2015-07-28 11:25:36</div>
            <div class="clear"></div>
        </div>
        <div class="middle">
        	<div class="comment">
            	<div class="name">导游服务：</div>
                <div class="type">满意</div>
                <div class="clear"></div>
            </div>
            <div class="comment">
            	<div class="name">行程安排：</div>
                <div class="type">一般</div>
                <div class="clear"></div>
            </div>
            <div class="comment">
            	<div class="name">饮食住宿：</div>
                <div class="type">一般</div>
                <div class="clear"></div>
            </div>
            <div class="comment">
            	<div class="name">旅行交通：</div>
                <div class="type">不满意</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
        	导游服务<br/>
            很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多字<br/>
            行程安排<br/>
            很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多字<br/>
        </div>
    </div>
    <div class="point">
    	<div class="top">
        	<img src="http://" class="icon"/>
            <div class="name">Alex 执念</div>
            <div class="tag tag1"></div>
            <div class="time">2015-07-28 11:25:36</div>
            <div class="clear"></div>
        </div>
        <div class="middle">
        	<div class="comment">
            	<div class="name">导游服务：</div>
                <div class="type">满意</div>
                <div class="clear"></div>
            </div>
            <div class="comment">
            	<div class="name">行程安排：</div>
                <div class="type">一般</div>
                <div class="clear"></div>
            </div>
            <div class="comment">
            	<div class="name">饮食住宿：</div>
                <div class="type">一般</div>
                <div class="clear"></div>
            </div>
            <div class="comment">
            	<div class="name">旅行交通：</div>
                <div class="type">不满意</div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="bottom">
        	导游服务<br/>
            很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多字<br/>
            行程安排<br/>
            很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多很多字<br/>
        </div>
    </div>
</div>
</div>