<style>.comment_list{
	width:100%;}
.comment_list .head{
	width:100%;
	padding-top:.4rem;
	background-color:#fff;
	margin-bottom:.4rem;
	border-bottom:1px solid #dcdcdc;}
.comment_list .left{
	float:left;
	text-align:center;
	font-size:.6rem;
	width:30%;
	height:2.5rem;
	border-right:1px solid #dcdcdc;}
.comment_list .percent{
	color:#ff840c;
	font-size:.8rem;
	padding-top:.35rem;}
.comment_list .text{
	color:#7c7c7c;}
.comment_list .right{
	float:left;
	width:65%;
	margin-left:5%;}
.comment_list .button{
	float:left;
	padding:.25rem;
	border:1px solid #dcdcdc;
	color:#7c7c7c;
	font-size:.4rem;
	margin-right:.29rem;
	margin-bottom:.4rem;}
.comment_list .button.hl{
	color:#009fff;
	border:1px solid #009fff;}
.comment_list .point{
	width:95%;
	margin:auto;
	margin-top:.4rem;
	background-color:#fff;
	padding:.4rem;
	padding-top:0px;}
.comment_list .top{
	height:2rem;
	border-bottom:1px solid #dcdcdc;}
.comment_list .icon{
	width:1.3rem;
	height:1.3rem;
	border-radius:1rem;
	float:left;
	position:relative;
	top:.35rem;
	}
.comment_list .top .name{
	font-size:.5rem;
	float:left;
	margin-left:.2rem;
	line-height:2rem;
	font-weight:bold;}
.comment_list .tag{
	float:left;
	width:.8rem;
	height:.5rem;
	background-size:.8rem .5rem;
	margin-top:.75rem;
	margin-left:.1rem;}
.comment_list .tag0{
	background-image:url(../img/vip0.png);}
.comment_list .tag1{
	background-image:url(../img/vip1.png);}
.comment_list .tag2{
	background-image:url(../img/vip2.png);}
.comment_list .tag3{
	background-image:url(../img/vip3.png);}	
.comment_list .tag4{
	background-image:url(../img/vip4.png);}
.comment_list .tag5{
	background-image:url(../img/vip5.png);}
.comment_list .tag6{
	background-image:url(../img/vip6.png);}
.comment_list .tag7{
	background-image:url(../img/vip6.png);}
.comment_list .time{
	font-size:.3rem;
	line-height:2rem;
	float:right;
	color:#7c7c7c;}
.comment_list .comment{
	float:left;
	width:50%;
	margin-bottom:.4rem;}
.comment_list .middle{
	border-bottom:1px solid #dcdcdc;
	padding-top:.4rem;
	}
.comment_list .comment .name{
	font-size:.45rem;
	color:#a5a5a5;
	float:left;}
.comment_list .comment .type{
	padding:.05rem .3rem;
	font-size:.4rem;
	border:1px solid #ff840c;
	color:#ff840c;
	float:left;
	}
.comment_list .bottom{
	font-size:.4rem;
	line-height:.8rem;
	color:#7c7c7c;
	padding-top:.3rem;}</style>
<div class="comment_list">
<div class="head">
	<div class="left">
    	<div class="percent numCLASS"><%= parseInt((good/total)*100)||0 %>%</div>
        <div class="text">满意度</div>
    </div>
    <div class="right">
    	<div class="button hl">所有点评(<span class="numCLASS"><%= total %></span>)</div>
        <div class="button">满意(<span class="numCLASS"><%= good %></span>)</div>
        <div class="button">一般(<span class="numCLASS"><%= general %></span>)</div>
        <div class="button">不满意(<span class="numCLASS"><%= poor %></span>)</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<div class="list">
<% _.each(list,function(n){ %>
	<div class="point">
    	<div class="top">
        	<img src="<%= n.head %>" class="icon"/>
            <div class="name"><%= n.name %></div>
            <div class="tag tag<%= n.tag %>"></div>
            <div class="time"><%= n.time %></div>
            <div class="clear"></div>
        </div>
        <div class="middle">
        	<% _.each(n.step,function(x){ %>
                <div class="comment">
                    <div class="name"><%= x.title %>：</div>
                    <div class="type"><% if(x.level==0||x.level==1||x.level==2){print("不满意")}else if(x.level==3){print("一般")}else{print("满意")} %></div>
                    <div class="clear"></div>
                </div>
            <% }) %>
            <div class="clear"></div>
        </div>
        <div class="bottom">
        	<%= n.dsc %>
        </div>
    </div>
<% }) %>
	
    

    
</div>
</div>