<style>.deal_comment{
	width:100%;
	}
.deal_comment .head{
	height:1.5rem;
	background-color:#fff;
	font-size:.6rem;
	line-height:1.5rem;
	text-indent:.5rem;}
.deal_comment .main{
	width:95%;
	margin:auto;
	margin-top:.3rem;
	background-color:#fff;
	padding-top:.5rem;
	}
.deal_comment .list{
	margin-bottom:.5rem;
	}
.deal_comment .title{
	float:left;
	font-size:.6rem;
	margin-left:.5rem;}
.deal_comment .point{
	float:left;
	font-size:.3rem;
	height:.7rem;
	line-height:.7rem;
	text-align:center;
	width:18%;
	margin-right:.2rem;
	background-color:#f6f6f6;}
.deal_comment .point.hl{
	color: #FFFFFF;
  	background-color: #ff840b;
	}
.deal_comment textarea{
	width:95%;
	height:2.5rem;
	background-color:#f6f6f6;
	border:1px solid #dcdcdc;
	padding:.3rem;
	margin:auto;
	display:block;
	font-size:.5rem;}
.deal_comment .bottom{
	padding-top:.5rem;
	margin-top:.5rem;
	border-top:1px solid #dcdcdc;}
.deal_comment .min{
	font-size:.2rem;
	text-align:right;
	color:#dcdcdc;
	margin-right:.3rem;
	margin-top:.3rem;
	padding-bottom:.7rem;
	}</style>
<div class="deal_comment">
<div class="head">请您对产品进行评价：</div>
<div class="main">
	<div class="top">
    	<div class="list" name="导游服务">
        	<div class="title">导游服务：</div>
            <div class="point hl" socer="5">非常满意</div>
            <div class="point" socer="4">满意</div>
            <div class="point" socer="3">不满意</div>
            <div class="clear"></div>
        </div>
        <div class="list" name="行程安排">
        	<div class="title">行程安排：</div>
            <div class="point hl" socer="5">非常满意</div>
            <div class="point" socer="4">满意</div>
            <div class="point" socer="3">不满意</div>
            <div class="clear"></div>
        </div>
        <div class="list" name="餐饮住宿">
        	<div class="title">餐饮住宿：</div>
            <div class="point hl" socer="5">非常满意</div>
            <div class="point" socer="4">满意</div>
            <div class="point" socer="3">不满意</div>
            <div class="clear"></div>
        </div>
        <div class="list" name="旅行交通">
        	<div class="title">旅行交通：</div>
            <div class="point hl" socer="5">非常满意</div>
            <div class="point" socer="4">满意</div>
            <div class="point" socer="3">不满意</div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottom">
    	<textarea id="dsc" placeholder="分享您对导游、行程、餐饮、住宿、交通等服务的感受... ..."></textarea>
        <div class="min">至少输入10个字</div>
    </div>
</div>
</div>
<script>
	$(".point").unbind("tap").bind("tap",function(){
		$(this).parents(".list").find(".point").removeClass("hl");
		$(this).addClass("hl");
		});
</script>