<link href="css/deal_success.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<link href="css/single_button.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="deal_success">
	<div class="top">
    	<div class="point">
        	<div class="title">订单价格：</div>
            <div class="number">￥<%= price %></div>
            <div class="clear"></div>
        </div>
        <div class="point">
        	<div class="title">订单编号：</div>
            <div class="number gray"><%= number %></div>
            <div class="clear"></div>
        </div>
        <div class="dsc">
        	你的订单已提交，请等待旅博汇客服确认。工作人员确认完毕后，请进入订单中心，完成支付，感谢您的预订！
        </div>
    </div>
</div>
<div class="single_button" id="payButton" style="margin-top:0px;">转到订单中心</div>
<div class="deal_success">
	<div class="bottom">
    温馨提示：<br/>
    &nbsp;&nbsp;旅博汇将在30分钟内确认您的订单，确认完毕后，会以短信和邮件的方式通知您登录会员中心完成签约支付，敬请留意。
    &nbsp;&nbsp;订单确认后，请您在有效的付款时限内完成签约付款。未能及时完成签约付款的订单将会被取消位置，如有不便之处敬请谅解。
    </div>
</div>
<script>
	$(".deal_success #payButton").unbind("tap").bind("tap",function(){
		window.location.hash="dealIndex";
		});
</script>