<link href="css/deal_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<% _.each(list,function(n){ %>
<div class="deal_list" lid="<%= n.id %>">
	<div class="top">
    	<div class="icon"><span class="fa fa-place3"></span></div>
        <div class="type"><%= n.type %>&nbsp;&nbsp;|&nbsp;&nbsp;</div>
        <div class="state"><% if(n.state=="4"){print("已确认/待签约支付")}
        else if(n.state=="1"){print("已提交/待确认")}
        else if(n.state=="2"){print("出游归来/已成交")}
        else if(n.state=="2_1"){print("出游归来/已成交/待点评")}
        else if(n.state=="2_2"){print("出游归来/已成交/已点评")}
        else if(n.state=="8"){print("已支付/待出游")}
        else if(n.state=="16"){print("申请取消")}
        else if(n.state=="32"){print("支付超时")}
        else if(n.state=="64"){print("已取消/待退款")}
        else if(n.state=="128"){print("已退款")}
        else if(n.state=="256"){print("已取消订单")}
        else if(n.state=="521"){print("已删除订单")}
        else if(n.state=="1024"){print("支付中/待签约支付")}
        else if(n.state=="2048"){print("退款中")}
         %></div>
        <div class="clear"></div>
    </div>
    <div class="center">
    	<div class="title"><%= n.title %></div>
        <div class="clear"></div>
        <div class="time">服务起止 <span class="numCLASS"><%= n.start %></span> - <span class="numCLASS"><%= n.end %></span></div>
        <div class="deg"><span class="fa fa-right"></span></div>
        <div class="clear"></div>
    </div>
    <div class="bottom">
    <% if(n.state=="4"||n.state=="1024"){ %>
    <div class="succeed">
    <div class="price">￥<span class="numCLASS">989</span></div>
    <div class="last">支付时限 <span class="numCLASS">00</span>时<span class="numCLASS">32</span>分<span class="numCLASS">52</span>秒</div>
    </div>
        <div class="button zhifu">支付</div>
        <div class="button zuofei">作废</div>
        <div class="clear"></div>
    <% }else{ %>
    <div class="price">￥<span class="numCLASS">989</span></div>
    	<% if(n.state=="1"){ %>
        	<div class="button zuofei">作废</div>
        <% }else if(n.state=="8"){ %>
        <div class="button quxiao">申请取消</div>
        <% }else if(n.state=="2_1"){ %>
        <div class="button dianpin">点评</div>
        <% }else if(n.state=="32"||n.state=="256"){ %>
        <div class="button sanchu">删除</div>
    	<% }else{ %>
        <div class="button chakan">查看详情</div>
        <% } %>
        <div class="clear"></div>
    <% } %>
    	
    </div>
</div>
<% }) %>
<script>
	$(".deal_list").unbind("tap").bind("tap",function(){
		window.location.hash="dealDetail/"+$(this).attr("lid");
		});
</script>