<style>.single_line_list{
	width:100%;}
.single_line_list .point{
	padding:.4rem;
	background-color:#fff;
	border-bottom:1px solid #dcdcdc;
	font-size:.5rem;
	color:#9a9a9a;
	position:relative;}
.single_line_list.double_line_list .name{
	font-size:.6rem;
	color:#1d1d1d;
	}
.single_line_list.double_line_list .dsc{
	margin-top:.2rem;
	font-size:.45rem;
	}
.single_line_list.double_line_list .check{
	font-size:1rem;
	background-color:#fff;
	position:absolute;
	right:.5rem;
	top:.6rem;}
.single_line_list.double_line_list .check .hl{
	color:#43b8ff;}</style>
<div class="single_line_list double_line_list">
	<% _.each(list,function(n,i){ %>
        <div class="point" num="<%= i %>">
            <div class="name"><%= n.title %></div>
            <div class="dsc"><% if(dscName){ %>
            <%= dscName %>： 
            <% } %>
            <%= n.dsc %></div>
            <% if(enable&&n.enable){ %>
            <div class="check"><div class="fa fa-checkbox" pid="<%= n.id||""%>"></div></div>
            <% } %>
        </div>
    <% }) %>
</div>