<link href="css/foot_nav.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="foot_nav">
	<div class="point">
    	<div class="icon">
        	<span class="fa fa-home"></span>
        </div>
        <div class="name">首页</div>
    </div>
    <div class="point">
    	<div class="icon">
        <span class="fa fa-bullseye"></span>
        </div>
        <div class="name">发现</div>
    </div>
    <div class="point">
    	<div class="icon">
        <span class="fa fa-bullseye"></span>
        </div>
        <div class="name">达人圈</div>
    </div>
    <div class="point">
    	<div class="icon">
        <span class="fa fa-user"></span>
        </div>
        <div class="name">我的</div>
    </div>
    <div class="clear"></div>
</div>