<link href="css/group_member.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="group_member">
<% _.each(list,function(n,i){ %>
	<div class="point" gid="<%= n.id %>">
		<img src="<%= n.image %>"  onerror="app.nofound('img/collect_img_picture.png')"/>
        <div class="name"><%= n.name %></div>
        <div class="number"><span class="fa fa-member"></span> <%= n.fans %></div>
        <div class="number"><span class="fa fa-money2"></span> <%= n.money %></div>
        <div class="deg">
        	<div class="bg"></div>
            <div class="font"><%= i+1 %></div>
        </div>
	</div>
<% }) %>
<div class="clear"></div>
</div>