<style>.group_add{
	width:100%;
	padding:.2rem;
	background-color:#fff;}
.group_add .title{
	font-size:.5rem;}
.group_add input{
	border:1px solid #000;
	float:left;
	height:1rem;
	line-height:1rem;
	font-size:.4rem;
	width:60%;
	margin-top:.2rem;
	text-indent:.2rem;
	}
.group_add .button{
	float:left;
	width:30%;
	height:1rem;
	background-color:#ff840c;
	color:#fff;
	border-radius:.2rem;
	margin-left:.5rem;
	font-size:.5rem;
	line-height:1rem;
	text-align:center;
	margin-top:.2rem;
	}</style>
<div class="group_add">
<div class="title">你还没加入任何圈子，您可以输入邀请人ID</div>
<div class="clear"></div>
<input/>
<div class="button">加入</div>
<div class="clear"></div>
</div>
