<style>.hot_nav{
	width:100%;
	background-color:#fff;
	color:#878787;}
.hot_nav .mian{
	float:left;
	width:9rem;
	height:2rem;}
.hot_nav .button{
	float:left;
	width:1rem;
	height:2rem;
	line-height:2rem;
	border:1px solid #dcdcdc;
	text-align:center;
	font-size:.4rem;
	}
.hot_nav .point{
	height:1rem;
	border:1px solid #dcdcdc;
	text-align:center;
	line-height:1rem;
	float:left;
	font-size:.45rem;}
.hot_nav .point.hl{
	border:1px solid #009eff;
	color:#009eff;
	}</style>
<div class="hot_nav">
	<div class="mian">
    	<% for(var i=0;i<8;i++){ %>
        <div class="point" <% if(list[i]){print('id="'+ list[i].id +'"')} %> style="width:25%;"><% if(list[i]){print( list[i].name )} %></div>
        <% } %>
        <div class="clear"></div>
    </div>
    <div class="button">
    	<span class="fa fa-right"></span>
    </div>
    <div class="clear"></div>
</div>