<link href="css/index_head.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="index_head">
	<div class="main">
    <div class="left">
    	<span id="place">深圳站</span> <span class="fa fa-open"></span>
        <select>
        	<option value="0">深圳站</option>
            <option value="1">南京站</option>
        </select>
    </div>
    <div class="center">
        <div class="searchButton">
        	<span class="fa fa-search"></span>
            搜索达人或者目的地
        </div>
    </div>
    <div class="right">
    	<span class="fa fa-phone"></span>
    </div>
    <div class="clear"></div>
    </div>
	
    <div class="bg">
    	<div class="bgR">
        <% _.each(list,function(n){ %>
        	<img src="<%= n %>"/>
        <% }) %>
            <div class="clear"></div>
        </div>
        <div class="pointFrame">
        	<div class="point hl"></div>
            <div class="point"></div>
            <div class="point"></div>
            <div class="point"></div>
            <div class="clear"></div>
        </div>
    </div>	
</div>
<script>
;(function(){
	var num=0;
	var lock=false;
	var delay=setInterval(function(){
		if(!lock){
			lock=true;
			if(num!=3){
			num++;
			}else{
				num=0;
				}
			$(".index_head .bgR").animate({"left":"-"+num+"00%"},function(){
				lock=false;
				});
			$(".index_head .point").removeClass("hl");
			$(".index_head .point").eq(num).addClass("hl");
			}
		
		},3000);
	$(".index_head select").unbind("change").bind("change",function(){
		$("#place").html($(this).find("[value='"+$(this).val()+"']").html());
		})
	$(".index_head .center").unbind("tap").bind("tap",function(){
		window.location.hash="searchIndex/0/0";
		})
	})();
</script>