<link href="css/index_nav.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="index_nav">
	<div class="point" href="travelIndex/0/0">
    	<img class="icon" src="img/home_icon_destination.png"/>
        <div class="name">出发地跟团</div>
    </div>
    <div class="point" href="travelIndex/1/0">
    	<img class="icon" src="img/home_icon_starting.png"/>
        <div class="name">目的地跟团</div>
    </div>
    <div class="point" href="">
    	<img class="icon" src="img/home_icon_mudidi.png"/>
        <div class="name">出发地定制</div>
    </div>
    <div class="point" href="">
    	<img class="icon" src="img/home_icon_chufadi.png"/>
        <div class="name">目的地定制</div>
    </div>
    <div class="point" href="">
    	<img class="icon" src="img/home_icon_plane.png"/>
        <div class="name">机票+酒店</div>
    </div>
    <div class="point" href="">
    	<img class="icon" src="img/home_icon_ticket.png"/>
        <div class="name">门票+酒店</div>
    </div>
    <div class="point" href="diyIndex/0">
    	<img class="icon" src="img/home_iocn_theme.png"/>
        <div class="name">主题游</div>
    </div>
    <div class="point" href="">
    	<img class="icon" src="img/home_icon_talent.png"/>
        <div class="name">旅游达人</div>
    </div>
	<div class="clear"></div>
</div>
<script>
	$(".index_nav .point").unbind("tap").bind("tap",function(){
		window.location.hash=$(this).attr("href");
		})
</script>
