<style>.title_input_list{
	width:100%;
	margin:auto;
	margin-top:.2rem;
	background-color:#fff;
}
.title_input_list .point{
	width:100%;
	margin:auto;
	border-bottom:1px solid #dcdcdc;
	min-height:1.8rem;
	line-height:1.8rem;
	position:relative;
	color:#7c7c7c;}
.title_input_list .left{
	float:left;
	font-size:.5rem;
	text-indent:.3rem;
	color:#1b1b1b;
	min-width:2.8rem;}
.title_input_list .center{
	float:left;
	margin-left:.5rem;}
.title_input_list .center input{
	height:1.4rem;
	line-height:1.4rem;
	display:block;
	font-size:.5rem;
	position:relative;
	top:.2rem;}
.title_input_list .right{
	position:absolute;
	top:0px;
	right:.5rem;
	font-size:.5rem;
	color:#7c7c7c;}
.title_input_list .dsc{
	font-size:.4rem;
	}
.title_input_list.traveller .otherShow{
	display:none;}
.title_input_list.traveller .right input{
	height:1.5rem;
	line-height:1.5rem;
	color:#717171;
	font-size:.5rem;
	text-align:right;}
.title_input_list.traveller .right .radio{
	width:.3rem;
	height:.3rem;
	display:inline-block;
	border:1px solid #c2c2c2;
	border-radius:.2rem;
	position:relative;} 
.title_input_list.traveller .right .radioPoint{
	background-image:url(../img/radio.jpg);
	width:.15rem;
	height:.15rem;
	border-radius:.2rem;
	background-position:center;
	background-repeat:space;
	position:absolute;
	top:.05rem;
	left:.05rem;
	}
.title_input_list.traveller .right .hl .radioPoint{
	background-image:url(../img/radioA.jpg)}</style>
<div class="title_input_list traveller">

	<div class="point">
    	<div class="left">姓名</div>
        <div class="right"><input placeholder="必填" D_key="name" D_type="input" value="<%= name %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">手机号</div>
        <div class="right"><input placeholder="必填" D_key="phone" D_type="input" value="<%= phone %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">邮箱</div>
        <div class="right"><input placeholder="必填" D_key="mail" D_type="input" value="<%= mail %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point">
    	<div class="left">性别</div>
        <div class="right" D_key="sex" D_type="radio"><div class="radio <% if(sex=="1"){print("hl")} %>" D_value="1" D_type="radioPoint"><div class="radioPoint"></div></div>男 <div class="radio <% if(sex=="2"){print("hl")} %>" D_value="2" D_type="radioPoint"><div class="radioPoint"></div></div>女</div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">备注</div>
        <div class="right"><input placeholder="选填" D_key="dsc" D_type="input" value="<%= dsc %>"/></div>
        <div class="clear"></div>
    </div>
</div>
