<link href="css/title_input_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="title_input_list traveller">
	<div class="point">
    	<div class="left">地址名称</div>
        <div class="right"><input placeholder="如“家”、“公司”等" D_key="place" D_type="input" value="<%= place %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">收件人姓名</div>
        <div class="right"><input placeholder="必填" D_key="name" D_type="input" value="<%= name %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">手机号</div>
        <div class="right"><input placeholder="请输入手机号" D_key="phone" D_type="input" value="<%= phone %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point" id="province">
    	<div class="left">省</div>
        <div class="right"><%= province %><span class="fa fa-right"></span></div>
        <div class="clear"></div>
    </div>
    <div class="point" id="city">
    	<div class="left">市</div>
        <div class="right"><%= city %><span class="fa fa-right"></span></div>
        <div class="clear"></div>
    </div>
    <div class="point" id="area">
    	<div class="left">区/县</div>
        <div class="right"><%= area %><span class="fa fa-right"></span></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">详细地址</div>
        <div class="right"><input placeholder="必填" D_key="detail" D_type="input" value="<%= detail %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">邮编</div>
        <div class="right"><input placeholder="必填" D_key="code" D_type="input" value="<%= code %>"/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">联系电话</div>
        <div class="right"><input placeholder="必填" D_key="tel" D_type="input" value="<%= tel %>"/></div>
        <div class="clear"></div>
    </div>
</div>
