<style>.mine_bottom{
	width:100%;}
.mine_bottom .group{
	background-color:#fff;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	margin-top:.4rem;
	}
.mine_bottom .point{
	color:#7c7c7c;
	height:1.5rem;
	line-height:1.5rem;
	}
.mine_bottom .icon{
	float:left;
	margin-left:.5rem;
	line-height:1.5rem;}
.mine_bottom .main{
	float:left;
	font-size:.5rem;
	height:1.5rem;
	margin-left:.5rem;
	width:8rem;
	border-bottom:1px solid #dcdcdc;}
.mine_bottom .title{
	float:left;}
.mine_bottom .deg{
	float:right;
	margin-right:.5rem;}</style>
<div class="mine_bottom">
	<div class="group">
    	<div class="point" href="accountIndex">
        	<div class="icon">
            	<span class="fa fa-money3"></span>
            </div>
            <div class="main">
            	<div class="title">旅博汇账户</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="point" href="pointList">
        	<div class="icon">
            	<span class="fa fa-star2"></span>
            </div>
            <div class="main">
            	<div class="title">积分账户</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="point" href="dealPassword">
        	<div class="icon">
            	<span class="fa fa-lock2"></span>
            </div>
            <div class="main">
            	<div class="title">交易密码</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="group">
    	<div class="point" href="groupSet">
        	<div class="icon">
            	<span class="fa fa-group2"></span>
            </div>
            <div class="main">
            	<div class="title">圈子设置</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="point" href="groupMember/0">
        	<div class="icon">
            	<span class="fa fa-member"></span>
            </div>
            <div class="main">
            	<div class="title">圈子成员</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="point" href="collectIndex">
        	<div class="icon">
            	<span class="fa fa-collect"></span>
            </div>
            <div class="main">
            	<div class="title">收藏</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="point" href="">
        	<div class="icon">
            	<span class="fa fa-notebook"></span>
            </div>
            <div class="main">
            	<div class="title">游记</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="group">
    	<div class="point" href="usefulIndex">
        	<div class="icon">
            	<span class="fa fa-morefile"></span>
            </div>
            <div class="main">
            	<div class="title">常用信息</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="point" href="">
        	<div class="icon">
            	<span class="fa fa-set"></span>
            </div>
            <div class="main">
            	<div class="title">设置</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="point" href="">
        	<div class="icon">
            	<span class="fa fa-info"></span>
            </div>
            <div class="main">
            	<div class="title">关于我们</div>
                <div class="deg"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
