<div class="mine_top">
	<div class="top">
    	<div class="nologin">
        	<div class="button login">登录</div>
            <div class="button regist">注册</div>
            <div class="clear"></div>
        </div>
        <div class="logined">
        	<div class="message">
            	<span class="fa fa-email"></span>
                <div class="num">0</div>
            </div>
            <div class="clear"></div>
            <img class="left" src="http://"  onerror="app.nofound('img/circle_member_list_img_picture.png')"/>
            <div class="right">
            	<div class="title">名字<img class="step" src="img/vip0.png"/></div>
                <div class="dsc">ID:32423423</div>
                <div class="dsc">人气:324234 财富:2332432</div>
            </div>
            <div class="deg"><span class="fa fa-right"></span></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="bottom"></div>
</div>
