<link href="css/pay_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="pay_list">
	<div class="point">
    	<div class="name">成人</div>
        <div class="price">+ ￥3198 (￥1599 X 2)</div>
        <div class="clear"></div>
    </div>
    <div class="point">
    	<div class="name">机票</div>
        <div class="price">+ ￥3198 (￥1599 X 2)</div>
        <div class="clear"></div>
    </div>
    <div class="point">
    	<div class="name">保险</div>
        <div class="price">+ ￥3198 (￥1599 X 2)</div>
        <div class="clear"></div>
    </div>
    <div class="point">
    	<div class="name">单房差</div>
        <div class="price">+ ￥3198 (￥1599 X 2)</div>
        <div class="clear"></div>
    </div>
    <div class="point">
    	<div class="name">多人同省</div>
        <div class="price">+ ￥3198 (￥1599 X 2)</div>
        <div class="clear"></div>
    </div>
    <div class="total">
    	<div class="left"><b>订单金额</b> <span class="number">￥68895</span> <u>明细</u></div>
        <div class="payButton">提交订单</div>
        <div class="clear"></div>
    </div>
</div>