<link href="css/pay_index.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="pay_index">
	<div class="lastTime">
    	剩余支付时间： <span style="color:#ff840c;"><%= lastTime %></span>
    </div>
    <div class="top">
    	<div class="dsc">
        	<div class="list">
            	<div class="point">
                	<div class="left">订单编号：</div>
                    <div class="right"><%= number %></div>
                    <div class="clear"></div>
                </div>
                <div class="point">
                	<div class="left">产品名称：</div>
                    <div class="right"><%= name %></div>
                    <div class="clear"></div>
                    <div class="deg"><span class="fa fa-right"></span></div>
                </div>
                <div class="point">
                	<div class="left">服务时间：</div>
                    <div class="right"><%= start %> 至 <%= end %></div>
                    <div class="clear"></div>
                </div>
                <div class="point">
                	<div class="left">参团城市：</div>
                    <div class="right"><%= city %></div>
                    <div class="clear"></div>
                </div>
            </div>
            
        </div>
        <div class="price">
        	订单总额：<span style="color:#ff0000;">￥<span class="numCLASS" style="font-size:.6rem;"><%= price %></span></span>
        </div>
    </div>
    <div class="bottom">
    	<div class="head">
        	<div class="dsc">
            	<span class="fa fa-checkbox"></span>
                同意旅游条款并支付
            </div>
            
        </div>
        <div class="list">
        	<div class="point" id="lvbh">
            	<img src="img/center_icom_lbh.png" class="left"/>
                <div class="right">
                	<div class="title">旅博账户支付</div>
                    <div class="dsc">支持旅博账户中的奖金支付</div>
                </div>
                <div class="clear"></div>
                <div class="deg"><span class="fa fa-right"></span></div>
            </div>
            <% _.each(payList,function(n,i){ %>
            <div class="point" id="<%= n.id %>">
            	<img src="<%= n.img %>" class="left"/>
                <div class="right">
                	<div class="title"><%= n.name %></div>
                    <div class="dsc"><%= n.dsc %></div>
                </div>
                <div class="clear"></div>
                <div class="deg"><span class="fa fa-right"></span></div>
            </div>
            <% }) %>
            <div class="point" id="cxk">
            	<img src="img/center_icom_deposit card.png" class="left"/>
                <div class="right">
                	<div class="title">储蓄卡支付</div>
                    <div class="dsc">支持多家银行储蓄卡支付</div>
                </div>
                <div class="clear"></div>
                <div class="deg"><span class="fa fa-right"></span></div>
            </div>
            <div class="point" id="xyk">
            	<img src="img/center_icom_credit card.png" class="left"/>
                <div class="right">
                	<div class="title">信用卡支付</div>
                    <div class="dsc">支持多家银行信用卡支付</div>
                </div>
                <div class="clear"></div>
                <div class="deg"><span class="fa fa-right"></span></div>
            </div>
        </div>
    </div>
</div>
<form action="http://zf.lvbh.cn/lvbhinterface/payment" method="post" style="display:none">
	<input name="outTradeNo" type="hidden" value="<%= number %>"/>
    <input name="bankCode" type="hidden" value="Alipay"/>
    <input name="totalFee" type="hidden" value="<%= price %>"/>
    <input name="subject" type="hidden" value="<%= name %>"/>
	<input name="returnUrl" type="hidden" value="http://www.lvbh.cn/shop/alipayReturn.jspx"/>
    <input name="sign" type="hidden" value="<% print($.md5("outTradeNo="+number+"&bankCode=Alipay&totalFee="+price+"&returnUrl="+"http://www.lvbh.cn/shop/alipayReturn.jspx"+"lvbh2015@lvbh.cn")) %>"/>
    <input type="submit" id="alipay"/>
</form>
<form action="http://zf.lvbh.cn/lvbhinterface/payment" method="post" style="display:none">
	<input name="outTradeNo" type="hidden" value="<%= number %>"/>
    <input name="bankCode" type="hidden" value="Tenpay"/>
    <input name="totalFee" type="hidden" value="<%= price %>"/>
    <input name="subject" type="hidden" value="<%= name %>"/>
	<input name="returnUrl" type="hidden" value="http://www.lvbh.cn/shop/tenpayReturnUrl.jspx"/>
    <input name="clientIp" type="hidden" value="<%= app.ip %>"/>
    <input name="sign" type="hidden" value="<% print($.md5("outTradeNo="+number+"&bankCode=Tenpay&totalFee="+price+"&returnUrl="+"http://www.lvbh.cn/shop/tenpayReturnUrl.jspx"+"lvbh2015@lvbh.cn")) %>"/>
    <input type="submit" id="tenpay"/>
</form>
<script>
;(function(){
	$(".pay_index .bottom .head .dsc").unbind("tap").bind("tap",function(){
		if($(this).find(".fa").data("choose")){
			$(this).find(".fa").data("choose",false);
			$(this).find(".fa").removeClass("hl");
			}else{
				$(this).find(".fa").data("choose",true);
			$(this).find(".fa").addClass("hl");
				}
		});
	var linkDelay=setTimeout(function(){
		$(".pay_index .top .dsc .deg").css("top",(($(".pay_index .top .dsc .deg").parent().height()/($(window).width()/10))-.1)/2+"rem");
	myScroll.refresh();
		},200);
	})();

</script>