<link href="css/pic_table.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="pic_table">
	<div class="frame frame_0" num="2">
    	<div class="icon">
        	<span class="fa fa-clown"></span>
        </div>
        <div class="title">亲子游</div>
        <img src="http://"/>
    </div>
    <div class="frame frame_1" num="4">
    	<div class="icon">
        	<span class="fa fa-car"></span>
        </div>
        <div class="title">自驾游</div>
        <img src="http://"/>
    </div>
    <div class="frame frame_2" num="3">
    	<div class="icon">
        	<span class="fa fa-heart"></span>
        </div>
        <div class="title">蜜月之旅</div>
        <img src="http://"/>
    </div>
    <div class="frame frame_3" num="1">
    	<div class="icon">
        	<span class="fa fa-tree"></span>
        </div>
        <div class="title">海岛游</div>
        <img src="http://"/>
    </div>
    <div class="frame frame_4" num="7">
    	<div class="icon">
        	<span class="fa fa-older"></span>
        </div>
        <div class="title">老玩童</div>
        <img src="http://"/>
    </div>
    <div class="frame frame_5" num="5">
    	<div class="icon">
        	<span class="fa fa-camera"></span>
        </div>
        <div class="title">摄影之旅</div>
        <img src="http://"/>
    </div>
    <div class="frame frame_6" num="6">
    	<div class="icon">
        	<span class="fa fa-water"></span>
        </div>
        <div class="title">温泉之旅</div>
        <img src="http://"/>
    </div>
</div>
<script>
$(".pic_table .frame").unbind("tap").bind("tap",function(){
	window.location.hash="diyIndex/"+$(this).attr("num");
	});
</script>