<style>.pic_table{
	width:100%;
	position:relative;
	height:16.7rem;
	}
.pic_table .frame{
	color:#fff;
	text-align:center;
	}
.pic_table .frame .mask{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
	opacity:1;
	background: -webkit-radial-gradient(rgba(76,76,76,0.1),rgba(76,76,76,0.2),rgba(0,0,0,0.3)); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(rgba(76,76,76,0.1),rgba(76,76,76,0.2),rgba(0,0,0,0.3)); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(rgba(76,76,76,0.1),rgba(76,76,76,0.2),rgba(0,0,0,0.3)); /* Firefox 3.6 - 15 */
  background: radial-gradient(rgba(76,76,76,0.1),rgba(76,76,76,0.2),rgba(0,0,0,0.3)); /* 标准的语法 */
	z-index:1;
	}
.pic_table .frame img{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left:0px;
}
.pic_table .frame .icon{
	font-size:.9rem;
	position:relative;
	z-index:2}
.pic_table .frame .title{
	font-size:.4rem;
	position:relative;
	top:-.2rem;
	z-index:2}
.pic_table .frame_0{
	width:5.35rem;
	height:4.98rem;
	position:absolute;
	top:0rem;
	left:0rem;}
.pic_table .frame_1{
	width:5.35rem;
	height:4.18rem;
	position:absolute;
	top:5.1rem;
	left:0rem;
	}
.pic_table .frame_2{
	width:4.5rem;
	height:3rem;
	position:absolute;
	top:0rem;
	left:5.5rem;
	}
.pic_table .frame_3{
	width:4.5rem;
	height:3rem;
	position:absolute;
	top:3.13rem;
	left:5.5rem;
	}
.pic_table .frame_4{
	width:4.5rem;
	height:3rem;
	position:absolute;
	top:6.27rem;
	left:5.5rem;
	}
.pic_table .frame_5{
	width:10rem;
	height:3.5rem;
	position:absolute;
	top:9.42rem;
	left:0rem;
	}
.pic_table .frame_6{
	width:10rem;
	height:3.5rem;
	position:absolute;
	top:13.06rem;
	left:0rem;
	}
.pic_table .frame_0 .icon{
	margin-top:1.6rem;
	}
.pic_table .frame_1 .icon{
	margin-top:1.4rem;
	}
.pic_table .frame_5 .icon,.pic_table .frame_6 .icon,.pic_table .frame_7 .icon{
	margin-top:1rem;
	}
.pic_table .frame_2 .icon,.pic_table .frame_3 .icon,.pic_table .frame_4 .icon{
	margin-top:.7rem;
	}</style>
<div class="pic_table">
	<div class="frame frame_0" num="2">
    	<div class="icon">
        	<span class="fa fa-clown"></span>
        </div>
        <div class="title">亲子游</div>
        <div class="mask"></div>
        <img src="img/qinzi.png" onerror="app.nofound('img/collect_img_picture.png')"/>
    </div>
    <div class="frame frame_1" num="4">
    	<div class="icon">
        	<span class="fa fa-car"></span>
        </div>
        <div class="title">自驾游</div>
        <div class="mask"></div>
        <img src="img/zijiayou.png" onerror="app.nofound('img/collect_img_picture.png')"/>
    </div>
    <div class="frame frame_2" num="3">
    	<div class="icon">
        	<span class="fa fa-heart"></span>
        </div>
        <div class="title">蜜月之旅</div>
        <div class="mask"></div>
        <img src="img/miyue.png" onerror="app.nofound('img/product_list_img.png')"/>
    </div>
    <div class="frame frame_3" num="1">
    	<div class="icon">
        	<span class="fa fa-tree"></span>
        </div>
        <div class="title">海岛游</div>
        <div class="mask"></div>
        <img src="img/haidao.png" onerror="app.nofound('img/product_list_img.png')"/>
    </div>
    <div class="frame frame_4" num="7">
    	<div class="icon">
        	<span class="fa fa-older"></span>
        </div>
        <div class="title">老玩童</div>
        <div class="mask"></div>
        <img src="img/laowantong.png" onerror="app.nofound('img/product_list_img.png')"/>
    </div>
    <div class="frame frame_5" num="5">
    	<div class="icon">
        	<span class="fa fa-camera"></span>
        </div>
        <div class="title">摄影之旅</div>
        <div class="mask"></div>
        <img src="img/seying.png" onerror="app.nofound('img/home_ad_img.png')"/>
    </div>
    <div class="frame frame_6" num="6">
    	<div class="icon">
        	<span class="fa fa-water"></span>
        </div>
        <div class="title">温泉之旅</div>
        <div class="mask"></div>
        <img src="img/wenquan.png" onerror="app.nofound('img/home_ad_img.png')"/>
    </div>
</div>
<script>
$(".pic_table .frame").unbind("tap").bind("tap",function(){
	window.location.hash="diyIndex/"+$(this).attr("num");
	});
</script>