<link href="css/product_group_list.css" rel="stylesheet" rel="stylesheet" type="text/css"/>
<div class="product_group_list">
	<% _.each(list,function(n,i){ %>
    <div class="group">
    <% if(n.title){ %>
    	<div class="head">
        	<div class="title <% if(i%2){print("blue")}else{print("red")} %>"><%= n.title %></div>
            <div class="icon"><span class="fa fa-right"></span></div>
            <div class="clear"></div>
        </div>
        <% } %>
        <div class="main">
        	<% _.each(n.main,function(x){ %>
            <div class="point" pid="<%= x.id %>" type="<%= x.type %>" state="<%= x.state %>">
            	<img src="<%= x.image %>"/>
                <div class="name"><%= x.name %></div>
                <div class="clear"></div>
                <div class="price"><span class="red">￥<span class="xl numCLASS"><%= x.price %></span></span>起</div>
                <div class="place"><%= x.place %></div>
                <div class="clear"></div>
                <% if(x.tag){ %>
                    <div class="tag <%= x.tag.class %>"><%= x.tag.name %></div>
                <% } %>
                <% if(x.date){ %>
                	<div class="date">出发日期：<% _.each(x.date,function(o){ print(" <span class='numCLASS'>"+o+"</span>") }) %></div>
                <% } %>
                
            </div>
          <%  }) %>
        </div>
    </div>
  <%  }) %>
</div>
