<link href="css/product_top.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_top">
	<div class="banner">
    	<div class="bannerR">
        	<img src="http://"/>
            <img src="http://"/>
            <img src="http://"/>
            <img src="http://"/>
            <div class="clear"></div>
        </div>
        <div class="pointFrame">
        	<div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="clear"></div>
        </div>
        <div class="typeHead"><span class="fa fa-type"></span></div>
        <div class="typeBody">出发地跟团</div>
        <div class="collect"></div>
        <div class="share"></div>
    </div>
    <div class="top">
    	<div class="number">产品编号：12005703</div>
        <div class="tag">浪漫</div>
        <div class="tag">温泉</div>
        <div class="tag">豪华游轮</div>
        <div class="clear"></div>
    </div>
    <div class="center">[超值度假]三亚5日4晚跟团游（5钻）·全网首推 奢华凤凰岛 Super海景</div>
    <div class="bottom">
    	会员价 ￥8888 起  市场价 ￥ 9999
    </div>
</div>
