<link href="css/product_bottom.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_bottom">
	<div class="list" id="noChange" show="left">
    	<div class="title">。产品概要</div>
        <div class="clear"></div>
        <div class="half">参团城市：深圳</div>
        <div class="half">目的地：桂林</div>
        <div class="half">线路玩法：美国西海岸</div>
        <div class="half">行程天数：5天4夜</div>
        <div class="half">酒店星级：四星级/舒适</div>
        <div class="half">交通类型：飞机往返</div>
        <div class="clear"></div>
        <div class="single">集合地点：深圳市宝安机场</div>
        <div class="single">客服电话：400-606-2111转7504</div>
        <div class="dsc">
        	本产品由深圳市旅博汇国际旅行社有限公司及具备国内旅游经营资质的合作旅行社提供相关服务。
        </div>
    </div>
    <div class="list close" show="left">
    	<div class="title">。产品特色</div>
        <div class="main">
        [路线特色]<br/>
        两点：涉外白金五星游轮、国内五星豪华长江内河顶级游轮，享受最顶级游船服务，至尊享受！！
        </div>
        <div class="toggle"><span class="fa fa-close"></span></div>
    </div>
    <div class="list close" show="center">
    	<div class="title">。详细行程</div>
        <div class="placeFrame">
        	<div class="date">第1天</div>
            <div class="place">深圳<span class="fa fa-plane2"></span>桂林（约2个小时）</div>
            <div class="clear"></div>
        </div>
        <div class="subhead"><span class="fa fa-list"></span>行程描述</div>
        <div class="main">
        	一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话v
        </div>
      <div class="subhead"><span class="fa fa-diner"></span>用餐</div>
        <table cellspacing="1">
            <tr>
            	<td valign="middle" align="center">早餐</td>
                <td valign="middle" align="center">中餐</td>
                <td valign="middle" align="center">晚餐</td>
            </tr>
            <tr>
            	<td valign="middle" align="center">敬请自理</td>
                <td valign="middle" align="center">敬请自理</td>
                <td valign="middle" align="center">敬请自理</td>
            </tr>
        </table>
        <div class="subhead"><span class="fa fa-build2"></span>住宿</div>
        <div class="main">
        一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话v
        </div>
        <div class="placeFrame">
        	<div class="date">第2天</div>
            <div class="place">昆明<span class="fa fa-fa-bus"></span>大理（约2个小时）</div>
            <div class="clear"></div>
        </div>
        <div class="subhead"><span class="fa fa-list"></span>行程描述</div>
        <div class="main">
        	一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话v
        </div>
        <div class="subhead"><span class="fa fa-diner"></span>用餐</div>
      <table cellspacing="1">
            <tr>
            	<td valign="middle" align="center">早餐</td>
                <td valign="middle" align="center">中餐</td>
                <td valign="middle" align="center">晚餐</td>
            </tr>
            <tr>
            	<td valign="middle" align="center">敬请自理</td>
                <td valign="middle" align="center">敬请自理</td>
                <td valign="middle" align="center">敬请自理</td>
            </tr>
        </table>
        <div class="subhead"><span class="fa fa-build2">住宿</span></div>
        <div class="main">
        一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话v
        </div>
        <div class="subhead"><span class="fa fa-shop">自费/购物推荐</span></div>
        <div class="dsc">
        	<span class="dscHead">自费推荐信息</span> （如因游客购物造成时间延长，延长时间不计入旅行社的客观安排停留时间）
        </div>
        <table cellspacing="1">
        	<thead>
       	  <td valign="middle">项目名称和内容：当地特色表演</td>
            </thead>
            <tbody>
            	<tr>
                <td valign="middle">费用（元）：284元</td>
                </tr>
                <tr>
                <td valign="middle">项目时长（分钟）：70分钟</td>
                </tr>
                <tr>
                <td valign="middle">其他说明：海上项目降落伞、海底漫步等知名景点、富贵黄金屋、梦幻古堡等。</td>
                </tr>
            </tbody>
        </table>
        <div class="dsc">
        	<span class="dscHead">购物店信息</span> （如因游客购物造成时间延长，延长时间不计入旅行社的客观安排停留时间）
        </div>
        <table cellspacing="1">
        	<thead>
       	  <td valign="middle">购物场所名称：珠宝展示中心</td>
            </thead>
            <tbody>
            	<tr>
                <td valign="middle">主要商品信息：红宝石、黄宝石、蓝宝石戒指、吊坠、首饰等等</td>
                </tr>
                <tr>
                <td valign="middle">最长停留时间（分钟）：60分钟</td>
                </tr>
                <tr>
                <td valign="middle">其他说明：泰国本土特产</td>
                </tr>
            </tbody>
        </table>
        <table cellspacing="1">
        	<thead>
       	  <td valign="middle">购物场所名称：燕窝中心</td>
            </thead>
            <tbody>
            	<tr>
                <td valign="middle">主要商品信息：特级血燕、燕盏、燕碎、血燕、燕盏、燕碎、等等</td>
                </tr>
                <tr>
                <td valign="middle">最长停留时间（分钟）：45分钟</td>
                </tr>
                <tr>
                <td valign="middle">其他说明：泰国本土特产</td>
                </tr>
            </tbody>
        </table>
        <div class="toggle"><span class="fa fa-close"></span></div>
    </div>
    <div class="list close" show="right">
    	<div class="title">。产品特色</div>
        <div class="placeFrame">
        	<div class="date">费用已含</div>
            <div class="clear"></div>
        </div>
        <div class="main">
        一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话v
        </div>
        <div class="placeFrame">
        	<div class="date">费用已含</div>
            <div class="clear"></div>
        </div>
        <div class="main">
        一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话v
        </div>
        <div class="placeFrame">
        	<div class="date">费用已含</div>
            <div class="clear"></div>
        </div>
        <div class="main">
        一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话一大堆话v
        </div>
        <div class="toggle"><span class="fa fa-close"></span></div>
    </div>
</div>
<script>
	$(".product_bottom .list").unbind("tap").bind("tap",function(){
		if($(this).attr("id") !== "noChange"){
			if($(this).data("open")){
				$(this).data("open",false);
				$(this).addClass("close");	
				}else{
				$(this).data("open",true);
				$(this).removeClass("close");	
					}
			myScroll.refresh();
			}
		})
</script>