<link href="css/product_top.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_top">
	<div class="banner">
    	<div class="bannerR" style="width:<%= image.length %>00%">
        	<% _.each(image,function(n){ %>
            <img src="http://<%= n %>" style="width:<%= (1/image.length)*100 %>%"/>
            <% }) %>
            <div class="clear"></div>
        </div>
        <div class="pointFrame">
        	<div class="writePoint hl"></div>
            <div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="clear"></div>
        </div>
        <div class="typeHead"><span class="fa fa-type"></span></div>
        <div class="typeBody"><%= type %></div>
        <div class="collect"><span class="fa fa-collect"></span></div>
        <div class="share"><span class="fa fa-share"></span></div>
    </div>
    <div class="top">
    	<div class="number">产品编号：<%= number %></div>
        <% _.each(tag,function(n){ %>
        	<div class="tag"><%= n.name %></div>
        <% }) %>
        <div class="clear"></div>
    </div>
    <div class="center"><%= title %></div>
    <div class="bottom">
    	会员价 <span style="font-size:.75rem;position: relative;
  top: .05rem;">￥</span><span class="big"><%= price %></span> 起&nbsp;&nbsp;&nbsp;<span class="gray">市场价 ￥<del><%= oldPrice %></del></span>
    </div>
</div>
<script>
;(function(){
	var num=0;
	var lock=false;
	var delay=setInterval(function(){
		if(!lock){
			lock=true;
			if(num!=3){
			num++;
			}else{
				num=0;
				}
			$(".product_top .bannerR").animate({"left":"-"+num+"00%"},function(){
				lock=false;
				});
			$(".product_top .writePoint").removeClass("hl");
			$(".product_top .writePoint").eq(num).addClass("hl");
			}
		
		},3000);
	})();

</script>