<link href="css/product_bottom.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_bottom">
	<div class="list">
    	<div class="title">。产品概要</div>
        <div class="clear"></div>
        <div class="half">参团城市：深圳</div>
        <div class="half">目的地：桂林</div>
        <div class="half">线路玩法：美国西海岸</div>
        <div class="half">行程天数：5天4夜</div>
        <div class="half">酒店星级：四星级/舒适</div>
        <div class="half">交通类型：飞机往返</div>
        <div class="clear"></div>
        <div class="single">集合地点：深圳市宝安机场</div>
        <div class="single">客服电话：400-606-2111转7504</div>
        <div class="dsc">
        	本产品由深圳市旅博汇国际旅行社有限公司及具备国内旅游经营资质的合作旅行社提供相关服务。
        </div>
    </div>
    <div class="list">
    	<div class="title">。产品特色</div>
        <div class="main">
        [路线特色]<br/>
        两点：涉外白金五星游轮、国内五星豪华长江内河顶级游轮，享受最顶级游船服务，至尊享受！！
        </div>
        <div class="toggle"><span class="fa fa-open"></span></div>
    </div>
</div>
