<link href="css/product_top.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_top">
	<div class="banner">
    	<div class="bannerR">
        	<% _.each(image,function(n){ %>
            <img src="<%= n %>"/>
            <% }) %>
            <div class="clear"></div>
        </div>
        <div class="pointFrame">
        	<div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="writePoint"></div>
            <div class="clear"></div>
        </div>
        <div class="typeHead"><span class="fa fa-type"></span></div>
        <div class="typeBody"><%= type %></div>
        <div class="collect"><span class="fa fa-collect"></span></div>
        <div class="share"><span class="fa fa-share"></span></div>
    </div>
    <div class="top">
    	<div class="number">产品编号：<%= number %></div>
        <% _.each(tag,function(n){ %>
        	<div class="tag" style="color:<%= n.color %>;border:1px solid <%= n.color %>"><%= n.name %></div>
        <% }) %>
        <div class="clear"></div>
    </div>
    <div class="center"><%= title %></div>
    <div class="bottom">
    	会员价 <span class="big">￥<%= price %></span> 起  市场价 <span class="gray">￥ <del><%= oldPrice %></del></span>
    </div>
</div>
