<link href="css/product_bottom.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_bottom">
	<div class="list" id="noChange">
    	<div class="title">产品概要</div>
        <div class="clear"></div>
        <div class="half">参团城市：<%= start %></div>
        <div class="half">目的地：<%= end %></div>
        <div class="half">行程天数：<%= day %></div>
        <div class="half">酒店星级：<%= hotel %></div>
        <div class="clear"></div>
        <div class="single">线路玩法：<%= line %></div>
        
        <div class="single">交通类型：<%= traffic %></div> 
        <div class="single">集合地点：<%= rally %></div>
        <div class="single">客服电话：<%= tel %></div>
        <div class="dsc">
        	本产品由深圳市旅博汇国际旅行社有限公司及具备国内旅游经营资质的合作旅行社提供相关服务。
        </div>
    </div>
    <div class="list close">
    	<div class="title">产品特色</div>
        <div class="main">
       		<%= special %>
        </div>
        <div class="toggle"><span class="fa fa-close"></span></div>
    </div>
    <div class="list close">
    
    	<div class="title">详细行程</div>
        <div class="main">
        	<%= detaiLine %>
        </div>
        <div class="toggle"><span class="fa fa-close"></span></div>
    </div>
    <div class="list close">
    	<div class="title">费用说明</div>
        <div class="placeFrame">
        	<div class="date">费用已含</div>
            <div class="clear"></div>
        </div>
        <div class="main">
        <%= include %>
        </div>
        <div class="placeFrame">
        	<div class="date">费用未含</div>
            <div class="clear"></div>
        </div>
        <div class="main">
        <%= noinclude %>
        </div>
        <div class="placeFrame">
        	<div class="date">购物自费</div>
            <div class="clear"></div>
        </div>
        <div class="main">
        <%= payself %>
        </div>
        <div class="toggle"><span class="fa fa-close"></span></div>
    </div>
</div>
<script>
	$(".product_bottom .list").unbind("tap").bind("tap",function(){
		if($(this).attr("id") !== "noChange"){
			if($(this).data("open")){
				$(this).data("open",false);
				$(this).addClass("close");	
				}else{
				$(this).data("open",true);
				$(this).removeClass("close");	
					}
			myScroll.refresh();
			}
		})
</script>