<link href="css/product_input.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<link href="css/title_input_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_input">
	<div class="list">
    	<div class="head">
        	<div class="title">选择团期</div>
            <div class="date">2015/07/28 星期四 <span class="fa fa-right"></span></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="list">
    	<div class="numberList">
        	<div class="numberLeft">
            	<div class="numberName">成人出游</div>
                <div class="numberPrice">￥1659/人</div>
            </div>
            <div class="numberRight">
            	<div class="numberSub"><span class="fa fa-sub"></span></div>
                <input class="numberInput"/>
                <div class="numberAdd"><span class="fa fa-add"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="numberList">
        	<div class="numberLeft">
            	<div class="numberName">占床儿童出游</div>
                <div class="numberPrice">￥1659/人</div>
            </div>
            <div class="numberRight">
            	<div class="numberSub"><span class="fa fa-sub"></span></div>
                <input class="numberInput"/>
                <div class="numberAdd"><span class="fa fa-add"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="numberList">
        	<div class="numberLeft">
            	<div class="numberName">不占床儿童出游</div>
                <div class="numberPrice">￥1659/人</div>
            </div>
            <div class="numberRight">
            	<div class="numberSub"><span class="fa fa-sub"></span></div>
                <input class="numberInput"/>
                <div class="numberAdd"><span class="fa fa-add"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="numberList">
        	<div class="numberLeft">
            	<div class="numberName">65岁以上老人出游</div>
                <div class="numberPrice">￥1659/人</div>
            </div>
            <div class="numberRight">
            	<div class="numberSub"><span class="fa fa-sub"></span></div>
                <input class="numberInput"/>
                <div class="numberAdd"><span class="fa fa-add"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="numberList">
        	<div class="numberLeft">
            	<div class="numberName">75岁以上老人出游</div>
                <div class="numberPrice">￥1659/人</div>
            </div>
            <div class="numberRight">
            	<div class="numberSub"><span class="fa fa-sub"></span></div>
                <input class="numberInput"/>
                <div class="numberAdd"><span class="fa fa-add"></span></div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="numberList">
        	<div class="numberLeft">
            	<div class="numberName">单房差价</div>
                <div class="numberPrice">￥1659/人</div>
            </div>
            <div class="numberRight">
            	<div class="numberCheck">同意拼房 <span class="fa fa-question"></span> <span class="fa fa-checkbox"></span></div>
            </div>
            <div class="clear"></div>
        </div>
        
    </div>
    <div class="list">
            <div class="head">
                <div class="title">优惠信息</div>
                <div class="clear"></div>
            </div>
            <table>
            	<tr>
                	<td align="center" valign="middle">优惠活动</td>
                    <td align="center" valign="middle">总人数</td>
                    <td align="center" valign="middle">优惠金额</td>
                </tr>
                <tr>
                	<td align="center" valign="middle">同行多省</td>
                    <td align="center" valign="middle">2人</td>
                    <td align="center" valign="middle">￥20元</td>
                </tr>
            </table>
            <div class="space"></div>
        </div>
        <div class="list">
        	<div class="head bb">
            	<div class="title">出游人信息</div>
                <div class="link">常用旅客</div>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">出游人1</div>
                <input placeholder="姓名"/>
                <div class="clear"></div>
            </div>
            <div class="inputList nb">
            	<div class="inputTitle">出游人2</div>
                <input placeholder="姓名"/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="list">
        	<div class="head bb">
            	<div class="title">联系人信息</div>
                <div class="link">常用联系人</div>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">中文姓名</div>
                <input placeholder="请输入中文姓名"/>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">联系手机</div>
                <input placeholder="请输入联系人的手机号码"/>
                <div class="clear"></div>
            </div>
            <div class="inputList nb">
            	<div class="inputTitle">电子邮箱</div>
                <input placeholder="请输入邮箱地址"/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="list">
        	<div class="head bb">
            	<div class="title">发票</div>
                <div class="check"><span class="fa fa-checkbox"></span></div>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">发票抬头</div>
                <input placeholder="请输入发票抬头"/>
                <div class="link">常用发票抬头</div>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">邮寄地址</div>
                <input placeholder="请输入邮寄地址"/>
                <div class="link">常用邮寄地址</div>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">收件人</div>
                <input placeholder="请输入收件人姓名"/>
                <div class="clear"></div>
            </div>
            <div class="inputList nb">
            	<div class="inputTitle">手机号码</div>
                <input placeholder="请输入收件人手机号码"/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="list">
        	<div class="head bb">
            	<div class="title">合同</div>
                <div class="check"><span class="fa fa-checkbox"></span></div>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">邮寄地址</div>
                <input placeholder="请输入邮寄地址"/>
                <div class="link">常用邮寄地址</div>
                <div class="clear"></div>
            </div>
            <div class="inputList">
            	<div class="inputTitle">收件人</div>
                <input placeholder="请输入收件人姓名"/>
                <div class="clear"></div>
            </div>
            <div class="inputList nb">
            	<div class="inputTitle">手机号码</div>
                <input placeholder="请输入收件人手机号码"/>
                <div class="clear"></div>
            </div>
        </div>
        
</div>
<div class="title_input_list" style="margin-bottom:.4rem;">
            <div class="point link">
                <div class="left">附言说明</div>
                <div class="right"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
            <div class="point link" name="">
                <div class="left">预订须知</div>
                <div class="right"><span class="fa fa-right"></span></div>
                <div class="clear"></div>
            </div>
        </div>
<div class="product_input">
	<div class="list">
    	<div class="head">
        <div class="dsc">
        	<span class="fa fa-checkbox"></span><div class="main">我已阅读并接受合同条款、预订须知条款及其他所有内容。</div><div class="clear"></div>
        </div>
        	
        </div>
    </div>
    <div class="list">
    	<div class="payList">
        	<div class="text"><b>订单金额</b> <span class="totalPrice">￥68895</span> <u>明细</u></div>
            <div class="button">提交订单</div>
            <div class="clear"></div>
        </div>
    </div>
</div>