<link href="css/product_center.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="product_center">
	<div class="nav">
    	<div class="point">
        	<div class="icon"><span class="fa fa-groupB"></span></div>
            <div class="name">满意度 100%</div>
        </div>
        <div class="point">
        	<div class="icon"><span class="fa fa-comment3"></span></div>
            <div class="name">点评 100人</div>
        </div>
        <div class="point nb">
        	<div class="icon"><span class="fa fa-flower"></span></div>
            <div class="name">收藏 100人</div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="list">
    	<div class="title">
        	<div class="icon"><span class="fa fa-date"></span></div>
            <div class="name">选择团期</div>
            <div class="date">2015/07/28 星期四 <span class="fa fa-right"></span></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="list">
    	<div class="title">
        	<div class="icon"><span class="fa fa-sell"></span></div>
            <div class="name">同行多省</div>
            <div class="clear"></div>
        </div>
        <div class="main">
        	<div class="point">2人同行可省：￥10元/人</div>
            <div class="point">3人同行可省：￥20元/人</div>
            <div class="point">4人同行可省：￥30元/人</div>
            <div class="point">5人同行可省：￥40元/人</div>
            <div class="clear"></div>
        </div>
    </div>
</div>