<link href="css/top_third.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="top_third top_search">
	<div class="leftButton"><%= left||'<span class="fa fa-back"></span>' %></div>
    <div class="center">
    	<input/>
        <div class="dropdown">
        <%= value %> <span class="fa fa-down"></span>
        </div>
    </div>
    <div class="menu">
    	<div class="degMask">
        	<div class="deg"></div>
        </div>
    	<div class="point bb" sid="0">达人圈</div>
        <div class="point bb" sid="1">出发地跟团</div>
        <div class="point" sid="2">目的地跟团</div>
    </div>
</div>
<script>
;(function(){
	$("body").on("tap",function(){
		$(".top_third.top_search .menu").hide();
		});
	$(".top_third.top_search .dropdown").unbind("tap").bind("tap",function(e){
		e.stopPropagation();
		$(".top_third.top_search .menu").show();
		});
	$(".top_third.top_search .point").unbind("tap").bind("tap",function(e){
		window.location.hash="searchIndex/"+$(this).attr("sid")+"/0";
		})
	})();
	
		
</script>