<link href="css/title_input_list.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<div class="title_input_list traveller">

	<div class="point" name="">
    	<div class="left">姓名</div>
        <div class="right"><input/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">证件</div>
        <div class="right">身份证<span class="fa fa-right"></span></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">证件号</div>
        <div class="right"><input/></div>
        <div class="clear"></div>
    </div>
    
    <div class="point" name="">
    	<div class="left">证件有效期</div>
        <div class="right"><input type="date"/><span class="fa fa-right"></span></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">证件签发地</div>
        <div class="right"><input/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">英文姓</div>
        <div class="right"><input/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">英文名</div>
        <div class="right"><input/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">出生日期</div>
        <div class="right"><input type="date"/><span class="fa fa-right"></span></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">性别</div>
        <div class="right"> 男 女</div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">国籍</div>
        <div class="right"><input/></div>
        <div class="clear"></div>
    </div>
    <div class="point" name="">
    	<div class="left">手机号</div>
        <div class="right"><input/></div>
        <div class="clear"></div>
    </div>
</div>

